.page.theme_dark {
  --accent-color: 255, 0, 112;
  --font-color: #F1B2CE;
  --background: #000028;
  --header-color: #DB00FF;
  --title-decor: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .theme_dark {
    --accent-color: 255, 0, 112;
    --font-color: #F1B2CE;
    --background: #000028;
    --header-color: #DB00FF;
    --title-decor: #FF0070;
    --background-image: url(../images/cover-image-dark.png);
  }
}