.page.theme_light {
  --accent-color: 53, 52, 48;
  --font-color: #353430;
  --background: #FF8DCB;
  --header-color: #FFC2E6;
  --title-decor: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  display: none;
}

.theme_light .camera-dot::after {
  display: none;
}

@media (width >= 1024px) {
  .theme_light .camera-man {
    position: absolute;
    left: calc(100vw - 81px + 37px);
  }
}

@media (width >= 1024px) {
  .theme_auto .camera-man {
    position: absolute;
    left: calc(100vw - 81px + 37px);
  }
}

@media (prefers-color-scheme: light) {
  .theme_light {
    --accent-color: 53, 52, 48;
    --font-color: #353430;
    --background: #FF8DCB;
    --header-color: #FFC2E6;
    --title-decor: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .camera-dot::after {
    display: none;
  }

  .theme_auto .rec {
    display: none;
  }
}