.page {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 668px;
}

.camera-man {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
  margin-right: 10px;
}

@media (width > 375px) {
  .camera-man {
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (width >= 1024px) {
  .camera-man {
    position: absolute;
    left: calc(100vw - 80px);
  }
}

.rec::after {
  content: "REC";
  font-family: 'IBM Plex mono', sans-serif;
  color: rgb(var(--accent-color));
  font-size: 18px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.camera-dot {
  position: relative;
  width: 25px;
  height: 25px;
  border-top: 1px solid rgb(var(--accent-color));
  border-right: 1px solid rgb(var(--accent-color));
}

.camera-dot::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  background-color: rgb(var(--accent-color));
  box-shadow: 0 0 4px 2px rgb(var(--accent-color));
}

.header__theme-menu {
  margin-top: 39px;
  margin-bottom: 65px;
}

@media (375px < width < 1024px) {
  .header__theme-menu {
    margin-top: 146px;
    margin-bottom: 173px;
    margin-right: 20px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: end;
}

@media (width > 768px) {
  .header__theme-menu {
    margin-top: 20px;
    margin-bottom: 273px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: rgb(var(--accent-color));
  padding-left: 13px;
  padding-right: 23px;
  padding-bottom: 5px;
  outline: none;
  border: none;
}

@media (width > 375px) {
  .header__theme-menu-button {
    padding-right: 13px;
  }
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--accent-color), 0.4);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(var(--accent-color));
  outline: none;
}

.main-header {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 rgb(255, 0, 112);
  margin-bottom: 55px;
  margin-left: 10px;
}

@media (375px < width < 1024px) {
  .main-header {
    margin-bottom: 162px;
  }
}

@media (width >= 1024px) {
  .main-header {
    margin-bottom: 114px;
  }
}

@media (width > 375px) {
  .main-header {
    margin-left: 0;
  }
}

.title-decor {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  color: #000028;
  background-color: var(--title-decor);
  font-weight: bold;
  line-height: 23.4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 31px;
}

@media (width > 375px) {
  .header .title-decor {
    margin-right: 20px;
  }
}

@media (375px < width < 1024px) {
  .header .title-decor {
    width: 364px;
    margin-left: 384px;
    margin-bottom: 138px;
  }
}

@media (width >= 1024px) {
  .header .title-decor {
    width: 491px;
    margin-left: 513px;
    margin-bottom: 114px;
  }
}

.lower-angle {
  position: relative;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid rgb(var(--accent-color));
  border-left: 1px solid rgb(var(--accent-color));
  margin-left: 10px;
}

@media (width > 375px) {
  .lower-angle {
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid rgb(var(--accent-color));
  border-right: none;
}

@media (width > 375px) {
  .header__theme-menu-button_active {
    border-right: 1px solid rgb(var(--accent-color));
  }
}

.main {
  overflow-x: hidden;
}

.main__reasons {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
}

@media (width > 375px) {
  .main__reasons {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (375px < width < 1024px) {
  .main__reasons {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

@media (width >= 1024px) {
  .main__reasons {
    margin-top: 63px;
    margin-bottom: 77px;
  }
}

.main__first-question {
  flex-basis: 236px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'IBM Plex mono', sans-serif;
  color: rgb(var(--accent-color));
  font-size: 18px;
  font-style: bold;
  line-height: 23.4px;
  flex-grow: 1;
}

.main__reasons-content {
  flex-basis: 472px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  flex-grow: 1;
}

.main__reasons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-family: 'IBM Plex mono', sans-serif;
  color: var(--font-color);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.main__reasons-wrapper .title-decor {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.cards-header {
  margin-left: 10px;
}

@media (width > 375px) {
  .cards-header {
    margin-left: 20px;
  }
}

.main__cards-concentration {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(305px, 100%), 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

@media (width < 800px) {
  .main__cards-concentration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media (width > 375px) {
  .main__cards-concentration {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
  }
}

.card-concentration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-concentration .title-decor {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.main__reasons-content .title-decor {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  min-width: 100%;
}

.normal-decor .title-decor {
  font-weight: normal;
}

h2.title-decor {
  margin-bottom: 0;
}

@media (width > 375px) {
  h2.title-decor {
    margin-left: 20px;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  text-shadow: 2px 3px 0 var(--title-decor);
}

a:hover {
  border-bottom: 1px solid var(--font-color);
}

a:focus {
  border: none;
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--font-color);
}

.main__gallery {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 100%), 1fr);
  grid-template-rows: minmax(192px, 260px) minmax(230px, 315px) minmax(318px, 428px);
  gap: 10px;
  grid-template-areas:
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
}

@media (width > 375px) {
  .main__gallery {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    gap: 20px;
  }
}

.gallery-pic {
  width: 100%;
  height: 100%;
}

.sunset {
  grid-area: sunset;
  object-fit: fill;
  object-position: center;
}

.ice-cream {
  grid-area: ice-cream;
  object-fit: cover;
  object-position: center;
}

.tape {
  grid-area: tape;
  object-fit: cover;
  object-position: center;
}

.books {
  grid-area: books;
  object-fit: fill;
  object-position: center;
}

.street {
  grid-area: street;
  object-fit: fill;
  object-position: center;
}

@media (width < 760px) {
  .main__gallery {
    display: flex;
    flex-direction: column;
  }
}

.camera-angle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
  margin-right: 10px;
}

@media (width > 375px) { 
  .camera-angle {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.camera-footer {
  width: 25px;
  height: 25px;
  border-top: 1px solid rgb(var(--accent-color));
  border-right: 1px solid rgb(var(--accent-color));
}

.main__header-footer {
  text-align: center;
  margin-top: 251px;
  margin-bottom: 251px;
}

@media (375px < width < 1024px) {
  .main__header-footer {
    margin-top: 418px;
    margin-bottom: 418px;
  }
}

@media (width >= 1024px) {
  .main__header-footer {
    margin-top: 274px;
    margin-bottom: 274px;
  }
}

.footer .lower-angle {
  margin-bottom: 10px;
}

@media (width > 375px) {
  .footer .lower-angle {
    margin-bottom: 20px;
  }
}